*{
    padding: 0;     /*removing all default padding */
    margin:  0;
    box-sizing: border-box;
}

#title{
    font-size: 10px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    
}


.container{
    height: 70vh; /* vh is viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black; /* remove later */
    
}

.flashcard{
    position: absolute;
    perspective: 800px; /* Perspective for 3D transforms */
}



.front{

    width: 50vh;
    height: 29vh;
    display: flex; /* gives us freedom to flex within a grid (super nice! */
    border: solid 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}


.back{


    width: 50vh;
    height: 29vh;
    display: flex; /* gives us freedom to flex within a grid (super nice! */
    border: solid 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;

  

}
