*{
    padding: 0;     /*removing all default padding */
    margin:  0;
    box-sizing: border-box;
}

#title{
    font-size: 10px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    
}


.container{
    height: 70vh; /* vh is viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black; /* remove later */
    
}

.flashcard{
    position: absolute;
    perspective: 800px; /* Perspective for 3D transforms */
    width: 50vh;
    height: 29vh;
    border: solid 1px black;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.front{
    display: block;
}
.back{
    display: none;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black; /* remove later */
    height: 20vh;
    justify-content: space-between;
}

.new{
    align-items: center;
    margin-right: 70%;
}
