
/* all */

body{
  padding: 0;     /*removing all default padding */
  margin:  0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}


.title{
  font-size: 30px;
  color: black;
  margin-left: 1%;
  
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 20;
  
}

.navbuttons{
  margin-right: 1%;
  margin-top: 2.5%;
}

.navbutton{
  border: solid 1px black; /* remove later */
  border-radius: 25px;
}


/* card.js */

.container{
  height: 70vh; /* vh is viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(204, 204, 204); /* remove later */
}

.card{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: .25rem;
  transform-style: preserve-3d;  /* Things in front now in back, viseversa */
  transition: 150ms; /* Animation for card */
  box-shadow: 0 0 5px 2px rgba(0 , 0 , 0, 0.3);
  background-color: white;
  height: 180px;
  width: 250px;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--pop, 0));
  font-size: 25px;
  line-height: 125px;
}

.card:hover{
  --pop: -10px;
  box-shadow: 0 0 5px 2px rgba(0 , 0 , 0, 0.5);
}

.card.flip{
  --rotate-y: 180deg;
}


/* review this syntax later. is front, back nested?*/
.card .front,
.card .back{ 
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;

}

.card .back{ 
  transform: rotateY(180deg);
  
}

.flashcardButtons{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakButton{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.button{
  border: solid 1px black; /* remove later */
  margin-left: 5%;
  cursor: pointer;
}

/*flashcard buttons*/

.buttonEasy,
.buttonOkay,
.buttonHard,
.buttonAgain{
  border: solid 1px grey; /* remove later */
  margin-left: 5%;
  cursor: pointer;
  transform: perspective(1000px) translateY(var(--pop, 0));
  text-align: center;
  height: 30px;
  width: 75px;
  border-radius: 10px;
  line-height: 25px;
}


.buttonEasy:hover{
  background-color: rgb(88, 199, 255);
  --pop: -5px;
}

.buttonOkay:hover{
  background-color: rgb(150, 255, 147);
  --pop: -5px;
}

.buttonHard:hover{
  background-color: rgb(255, 253, 129);
  --pop: -5px;
}

.buttonAgain:hover{
  background-color: rgb(255, 129, 129);
  --pop: -5px;
}



/* Editing page */

.input{
  display: grid;
}


/* flashcard list */
.listcard{
  display: inline-block;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: .25rem;
  transform-style: preserve-3d;  /* Things in front now in back, viseversa */
  transition: 150ms; /* Animation for card */
  box-shadow: 0 0 5px 2px rgba(0 , 0 , 0, 0.3);
  background-color: white;
  height: 180px;
  width: 250px;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--pop, 0));
}

.listcard:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}


.flashcardlist {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: inline;
 
}

.new{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black; /* remove later */
  height: 20vh;

}